/* style/aluguel.css */

.container {
  width: 80%;
  max-width: 50rem;
  margin: 1.25rem auto;
  padding: 1.25rem;
  background-color: #f9f9f9;
  border: .0625rem solid #ddd;
  border-radius: .5rem;

  .cpf-invalido {
    border-color: red !important;
  }
  .cpf-valido {
      border-color: green !important;
  }
  
}

h2 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: .9375rem;
}

.form-group {
  display: flex;
  flex-direction: column;

  &.full-width {
    grid-column: span 2;
  }

  label {
    margin-bottom: .3125rem;
    font-weight: bold;
  }

  input,
  textarea {
    padding: .625rem;
    border: .0625rem solid #ccc;
    border-radius: .25rem;
    font-size: 1rem;
  }

  textarea {
    resize: vertical;
    resize: none;
  }
}



.form-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25rem;

  button,
  .back-button {
    padding: .625rem 1.25rem;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
  }

  button {
    background-color: #4caf50;
    color: white;

    &:hover {
      background-color: #45a049;
    }
  }

  .back-button {
    background-color: #f44336;
    color: white;

    &:hover {
      background-color: #da190b;
    }
  }
}



@media (max-width: 50rem) {
  .container {
    width: 80%;
    max-width: 50rem;
    margin: 1.25rem auto;
    padding: 1.25rem;
    background-color: #f9f9f9;
    border: .0625rem solid #ddd;
    border-radius: .5rem;
  }

  .form-grid {
    display: flex;
    flex-direction: column;
    gap: .9375rem;
  
  }

}