/* Contém resets, variáveis e estilos verdadeiramente globais */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #ffffff;
  --font-color: #0000;
  --focus-color: #ffa500;
}

body {
  background-color: var(--bg-color);
  font-family: sans-serif;
}