header{
    display: flex;
    align-items: center;
    margin: 2rem;
    
    .logo{
        justify-content: center;
        gap: 10px ;
        & img{
            
            height: 6rem;
            object-fit: cover;
        }

    }
    .usuario {
        position: relative;
        display: inline-block;
        justify-content: end;
    }
    
    .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #ccc;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
    }
    
    .menu-dropdown {
        display: none;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .menu-dropdown a, .menu-dropdown button {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
    }
    
    .menu-dropdown a:hover, .menu-dropdown button:hover {
        background-color: #f1f1f1;
    }
    
}

main{
    display: grid;
    
    justify-content: center;
    align-items: center;
    gap: 80px;
}

footer {
    text-align: center;
    padding: 2rem 0;
    margin-top: 2rem;
    border-top: 1px solid #ccc;
}